<section class="catalog section-paddings" id="catalog">
  <div class="catalog-container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <div class="catalog-container-nev">
          <div class="catalog-picture-box">
            <picture>
              <source
                srcset="
                  /img/catalog-img/desc/desc1.webp     1x,
                  /img/catalog-img/desc/desc1-@2x.webp 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  /img/catalog-img/tab/tab1.webp     1x,
                  /img/catalog-img/tab/tab1-@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/catalog-img/mob/mob1.webp     1x,
                  /img/catalog-img/mob/mob1-@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="/img/catalog-img/desc/desc1.webp "
                alt="Garmin Fenix 7X Pro Sapphire Solar"
                width="292"
                height="292"
                class="catalog-img"
              />
            </picture>
          </div>
          <div class="catalog-cont-text">
            <h3 class="catalog-subtitle">Garmin Fenix 7X Pro Sapphire Solar</h3>
            <p class="catalog-text">€500</p>
          </div>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-container-nev">
          <div class="catalog-picture-box">
            <picture>
              <source
                srcset="
                  /img/catalog-img/desc/desc2.webp     1x,
                  /img/catalog-img/desc/desc2-@2x.webp 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  /img/catalog-img/tab/tab2.webp     1x,
                  /img/catalog-img/tab/tab2-@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/catalog-img/mob/mob2.webp     1x,
                  /img/catalog-img/mob/mob2-@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="/img/catalog-img/desc/desc2.webp "
                alt="Garmin Fenix 7X Pro Sapphire Solar"
                width="292"
                height="292"
                class="catalog-img"
              />
            </picture>
          </div>
          <div class="catalog-cont-text">
            <h3 class="catalog-subtitle">Garmin Marq Athlete</h3>
            <p class="catalog-text">€450</p>
          </div>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-container-nev">
          <div class="catalog-picture-box">
            <picture>
              <source
                srcset="
                  /img/catalog-img/desc/desc3.webp     1x,
                  /img/catalog-img/desc/desc3-@2x.webp 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  /img/catalog-img/tab/tab3.webp     1x,
                  /img/catalog-img/tab/tab3-@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/catalog-img/mob/mob3.webp     1x,
                  /img/catalog-img/mob/mob3-@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="/img/catalog-img/desc/desc3.webp "
                alt="Garmin Fenix 7X Pro Sapphire Solar"
                width="292"
                height="292"
                class="catalog-img"
              />
            </picture>
          </div>
          <div class="catalog-cont-text">
            <h3 class="catalog-subtitle">Garmin Descent MK1</h3>
            <p class="catalog-text">€680</p>
          </div>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-container-nev">
          <div class="catalog-picture-box">
            <picture>
              <source
                srcset="
                  /img/catalog-img/desc/desc4.webp     1x,
                  /img/catalog-img/desc/desc4-@2x.webp 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  /img/catalog-img/tab/tab4.webp     1x,
                  /img/catalog-img/tab/tab4-@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/catalog-img/mob/mob4.webp     1x,
                  /img/catalog-img/mob/mob4-@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="/img/catalog-img/desc/desc4.webp "
                alt="Garmin Fenix 7X Pro Sapphire Solar"
                width="292"
                height="292"
                class="catalog-img"
              />
            </picture>
          </div>
          <div class="catalog-cont-text">
            <h3 class="catalog-subtitle">Garmin D2 Delta PX</h3>
            <p class="catalog-text">€380</p>
          </div>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-container-nev">
          <div class="catalog-picture-box">
            <picture>
              <source
                srcset="
                  /img/catalog-img/desc/desc5.webp     1x,
                  /img/catalog-img/desc/desc5-@2x.webp 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  /img/catalog-img/tab/tab5.webp     1x,
                  /img/catalog-img/tab/tab5-@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/catalog-img/mob/mob5.webp     1x,
                  /img/catalog-img/mob/mob5-@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="/img/catalog-img/desc/desc5.webp "
                alt="Garmin Fenix 7X Pro Sapphire Solar"
                width="292"
                height="292"
                class="catalog-img"
              />
            </picture>
          </div>
          <div class="catalog-cont-text">
            <h3 class="catalog-subtitle">Garmin Fenix 6 Pro Solar</h3>
            <p class="catalog-text">€400</p>
          </div>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-container-nev">
          <div class="catalog-picture-box">
            <picture>
              <source
                srcset="
                  /img/catalog-img/desc/desc6.webp     1x,
                  /img/catalog-img/desc/desc6-@2x.webp 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  /img/catalog-img/tab/tab6.webp     1x,
                  /img/catalog-img/tab/tab6-@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/catalog-img/mob/mob6.webp     1x,
                  /img/catalog-img/mob/mob6-@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="/img/catalog-img/desc/desc6.webp "
                alt="Garmin Fenix 7X Pro Sapphire Solar"
                width="292"
                height="292"
                class="catalog-img"
              />
            </picture>
          </div>
          <div class="catalog-cont-text">
            <h3 class="catalog-subtitle">
              Tube Watch S42 Date Steel With Black Case
            </h3>
            <p class="catalog-text">€395</p>
          </div>
        </div>
      </li>
    </ul>
    <button type="button" class="catalog-btn">Show more</button>
  </div>
</section>
