<!-- Hero section -->

<section class="hero-section section-paddings" id="hero">
  <div class="hero-container container">
    <div class="hero-content">
      <h1 class="main-title">
        Welcome to our <span class="highlight">collection</span> of premium
        watches
      </h1>
      <p class="hero-description">
        Our watches are not just timepieces, but also an expression of your
        personality and lifestyle. From classic designs to modern ones, we have
        a watch to suit every taste and occasion.
      </p>
    </div>
    <div class="hero-row">
      <div class="hero-avatars">
        <img
          alt="Avatar 1"
          class="avatar avatar-left"
          srcset="
            /img/hero-img/Ellipse21.webp    1x,
            /img/hero-img/Ellipse21@2x.webp 2x
          "
        />
        <img
          alt="Avatar 2"
          class="avatar avatar-center"
          srcset="
            /img/hero-img/Ellipse22.webp    1x,
            /img/hero-img/Ellipse22@2x.webp 2x
          "
        />
        <img
          alt="Avatar 3"
          class="avatar avatar-right"
          srcset="
            /img/hero-img/Ellipse23.webp    1x,
            /img/hero-img/Ellipse23@2x.webp 2x
          "
        />
      </div>
      <div class="scroll-container">
        <a
          href="#footer"
          class="scroll-down-link"
          aria-label="Scroll to the footer section"
          >Scroll down</a
        >
      </div>
    </div>
    <div class="hero-image-container">
      <picture class="hero-picture">
        <source
          media="(min-width: 1280px)"
          srcset="/img/hero-img/hero.webp 1x, /img/hero-img/hero@2x.webp 2x"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/hero-img/hero_tab.webp    1x,
            /img/hero-img/hero_tab@2x.webp 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            /img/hero-img/hero_mob.webp    1x,
            /img/hero-img/hero_mob@2x.webp 2x
          "
        />
        <img
          alt="Watch Image"
          class="hero-image"
          src="/img/hero-img/hero.webp"
        />
      </picture>
    </div>
  </div>
</section>
