<div class="mobile-menu" modal>
  <div class="mobile-menu-container container">
    <button close class="mobile-menu-close">
      <svg class="mobile-icon-close-button" width="34" height="34">
        <use href="/img/mobile-menu/x.svg#icon-x"></use>
      </svg>
    </button>

    <div>
      <ul class="nav-list-mobile">
        <li class="nav-item-mobile">
          <a class="nav-link-mobile current" href="#header-page">Home</a>
        </li>
        <li class="nav-item-mobile">
          <a class="nav-link-mobile" href="#about-us">About us</a>
        </li>
        <li class="nav-item-mobile">
          <a class="nav-link-mobile" href="#catalog">Catalog</a>
        </li>
        <li class="nav-item-mobile">
          <a class="nav-link-mobile" href="#sale">Sale</a>
        </li>
        <li class="nav-item-mobile">
          <a class="nav-link-mobile" href="#reviews">Reviews</a>
        </li>
        <li class="nav-item-mobile">
          <a class="nav-link-mobile" href="#contact-us">Contact us</a>
        </li>
      </ul>
    </div>

    <div class="soc-link">
      <ul class="mobile-menu-icon-list">
        <li class="mobile-menu-icon-item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="icon-list-items-link"
          >
            <svg class="icon-mobile" width="18" height="18">
              <use href="./img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="mobile-menu-icon-item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="icon-list-items-link"
          >
            <svg class="icon-mobile" width="18" height="18">
              <use href="/img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="mobile-menu-icon-item">
          <a href="https://www.youtube.com/c/GoIT" class="icon-list-items-link">
            <svg class="icon-mobile" width="18" height="18">
              <use href="/img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
