<!-- Sale section -->
<section class="sale-section section-paddings" id="sale">
  <div class="container">
    <h2 class="sale-container-title" id="team">Sale</h2>
    <div class="sale-content-container">
      <div class="sale-img-container">
        <ul class="sale-img-list">
          <li class="sale-img-item">
            <picture>
              <source
                srcset="
                  /img/sale-img/desc/img-1.webp    1x,
                  /img/sale-img/desc/img-1@2x.webp 2x
                "
                media="(min-width:1280px)" />
              <source
                srcset="
                  /img/sale-img/tab/img-1.webp    1x,
                  /img/sale-img/tab/img-1@2x.webp 2x
                "
                media="(min-width:768px)" />
              <source
                srcset="
                  /img/sale-img/mob/img-1.webp    1x,
                  /img/sale-img/mob/img-1@2x.webp 2x
                "
                media="(max-width:375px)" />
              <img
                class="sale-img"
                src="/img/sale-img/img-1.webp"
                alt="1"
                width="132"
                height="132"
            /></picture>
          </li>
          <li class="sale-img-item">
            <picture>
              <source
                srcset="
                  /img/sale-img/desc/img-2.webp    1x,
                  /img/sale-img/desc/img-2@2x.webp 2x
                "
                media="(min-width:1280px)" />
              <source
                srcset="
                  /img/sale-img/tab/img-2.webp    1x,
                  /img/sale-img/tab/img-2@2x.webp 2x
                "
                media="(min-width:768px)" />
              <source
                srcset="
                  /img/sale-img/mob/img-2.webp    1x,
                  /img/sale-img/mob/img-2@2x.webp 2x
                "
                media="(max-width:767px)" />
              <img
                class="sale-img"
                src="/img/sale-img/img-2.webp"
                alt="2"
                width="132"
                height="132"
            /></picture>
          </li>
          <li class="sale-img-item">
            <picture>
              <source
                srcset="
                  /img/sale-img/desc/img-3.webp    1x,
                  /img/sale-img/desc/img-3@2x.webp 2x
                "
                media="(min-width:1280px)" />
              <source
                srcset="
                  /img/sale-img/tab/img-3.webp    1x,
                  /img/sale-img/tab/img-3@2x.webp 2x
                "
                media="(min-width:768px)" />
              <source
                srcset="
                  /img/sale-img/mob/img-3.webp    1x,
                  /img/sale-img/mob/img-3@2x.webp 2x
                "
                media="(max-width:767px)" />
              <img
                class="sale-img"
                src="/img/sale-img/img-3.webp"
                alt="3"
                width="132"
                height="132"
            /></picture>
          </li>
          <li class="sale-img-item">
            <picture>
              <source
                srcset="
                  /img/sale-img/desc/img-4.webp    1x,
                  /img/sale-img/desc/img-4@2x.webp 2x
                "
                media="(min-width:1280px)" />
              <source
                srcset="
                  /img/sale-img/tab/img-4.webp    1x,
                  /img/sale-img/tab/img-4@2x.webp 2x
                "
                media="(min-width:768px)" />
              <source
                srcset="
                  /img/sale-img/mob/img-4.webp    1x,
                  /img/sale-img/mob/img-4@2x.webp 2x
                "
                media="(max-width:767px)" />
              <img
                class="sale-img"
                src="/img/sale-img/img-4.webp"
                alt="4"
                width="132"
                height="132"
            /></picture>
          </li>
        </ul>
        <picture>
          <source
            srcset="
              /img/sale-img/desc/img-5.webp    1x,
              /img/sale-img/desc/img-5@2x.webp 2x
            "
            media="(min-width:1280px)" />
          <source
            srcset="
              /img/sale-img/tab/img-5.webp    1x,
              /img/sale-img/tab/img-5@2x.webp 2x
            "
            media="(min-width:768px)" />
          <source
            srcset="
              /img/sale-img/mob/img-5.webp    1x,
              /img/sale-img/mob/img-5@2x.webp 2x
            "
            media="(max-width:767px)" />
          <img
            class="sale-img-one"
            src="/img/sale-img/img-5.webp"
            alt="5"
            width="428"
            height="558"
        /></picture>
      </div>

      <div class="sale-descr-container">
        <h3 class="sale-descr-title">
          MARQ® Commander (Gen 2) - Carbon Edition
        </h3>
        <p class="title-txt">Product tag: 706587</p>
        <ul class="sale-price-list">
          <li class="sale-price-item">
            <p class="sale-price-txt">€1500</p>
          </li>
          <li class="price-item">
            <p class="price-txt">€3000</p>
          </li>
        </ul>
        <p class="sale-descr-txt">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="sale-block">
          <li class="sale-block-item">Fused carbon fiber</li>
          <li class="sale-block-item">Grade-5 Titanuim</li>
          <li class="sale-block-item">Athlete</li>
          <li class="sale-block-item">Golfer</li>
          <li class="sale-block-item">Commander</li>
          <li class="sale-block-item">Adventurer</li>
        </ul>
      </div>
    </div>
  </div>
</section>
